.fp-page {
  width: 100vw;
  height: 100vh;
  background: url("Login.png") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}



.fp-container {
  width: 380px;
  background: #0a0f24;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  text-align: center;
  color: white;
}

.fp-title {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
}

.fp-container input,
.fp-container select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  background: #ffffff;
  border: none;
  border-radius: 6px;
}

.fp-btn {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  background: #1c6efd;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.fp-btn:disabled {
  background: gray;
  cursor: not-allowed;
}

.fp-btn:hover:not(:disabled) {
  background: #004ed4;
}

.fp-back {
  margin-top: 15px;
  text-align: left;
}

.fp-back a {
  color: #53a7ff;
  text-decoration: none;
  font-size: 14px;
}

.fp-back a:hover {
  text-decoration: underline;
}
